div.entities-portal--multi-range-picker__container {
  @include squarePicker;
  min-width: 250px;
  padding-inline: $space-inline-regular-rem;

  div.range-container {
    display: flex;
    flex-direction: column;
    gap: $space-block-xxxSmall-rem;

    width: 100%;

    div.range-indicator {
      font-size: $font-size-xSmall-rem;
    }
  }
}
