:root {
  --app-additional-content-app-footer-in-view: 0;
}

aside.app-layout--app-additional-content__container {
  @include app-additional-content-functionallity;

  div.content {
    direction: ltr;
    overflow-y: hidden;
    height: 100%;

    @include scroll-bar-colorize;

    &:hover {
      overflow-y: auto;
    }

    > * {
      direction: rtl;
    }
  }
}
