div.entities-portal-cmp--list-options__container {
  display: flex;
  align-items: center;
  gap: $space-inline-xxSmall-rem;

  font-size: $font-size-regular-rem;

  div.entities-portal--dynamic-filter__icon-wrapper,
  div.entities-portal-cmp--sort-drop-down__container {
    display: flex;
    align-items: center;

    border-radius: 0.2rem;
    padding: 5px;
    transition: $transition-regular;

    &:hover {
      background-color: $clr-white-darker;
    }
  }
  div.filterby-icon {
    cursor: pointer;
    border-radius: 0.2rem;

    &.active {
      background-color: $clr-white-darker;
    }
  }
}
