div.app-header--branch-chip__list-title {
  color: $clr-white-regular;
  font-family: $typography-emphasis;
  font-weight: 500;
  padding-inline: $space-inline-xxxSmall-rem;
  margin-block-end: $space-block-xxSmall-rem;

  @include viewport-wide-start-from-exclusive($viewport-regular) {
    display: none;
  }
}

section.app-header--branch-chip__list-container {
  display: flex;
  gap: $space-inline-xSmall-rem;
  flex-wrap: wrap;

  padding-inline: $space-inline-xxxSmall-rem;

  @include viewport-wide-start-from-exclusive($viewport-regular) {
    grid-column: 1/2;
    grid-row: 1/2;

    align-items: center;
    gap: $space-inline-regular-rem;

    &:hover {
      span.description {
        opacity: 1;
      }
    }
  }

  span.description {
    display: none;

    @include viewport-wide-start-from-exclusive($viewport-regular) {
      display: block;

      opacity: 0;
      color: $clr-white-regular;
      font-size: $font-size-xxSmall-rem;
      transition: $transition-regular;

      &::before {
        content: "(";
      }

      &::after {
        content: ")";
      }
    }
  }
}

div.app-header--branch-chip__preview-container {
  display: flex;
  align-items: center;

  position: relative;

  cursor: pointer;
  border-radius: $border-radius-regular-em;
  border: 1px solid $clr-white-darker;
  background-color: transparent;
  color: $clr-white-darker;
  font-size: $font-size-xSmall-rem;
  padding-inline: $space-inline-xxSmall-em;
  padding-block: $space-inline-xxxSmall-em;
  transition: $transition-regular;

  &:hover {
    background-color: $clr-white-darkest;
    color: $clr-black-regular;
  }

  &.active {
    border-color: $clr-white-darkest;
    background-color: $clr-white-regular;
    color: $clr-black-regular;
  }

  img.symbol {
    padding-inline-end: $space-inline-xxSmall-em;
    width: 100%;
    height: 0.8rem;
  }
}
