div.app-header--app-search__container {
  border-block-end: 1px solid $clr-white-regular;

  &:focus-within {
    border-block-end-color: $clr-yellow-regular;

    input {
      color: $clr-yellow-regular;

      @include viewport-wide-start-from($viewport-small) {
        width: 15rem;
      }
    }

    span.clear-icon svg,
    span.search-icon svg {
      color: $clr-yellow-regular;
    }
  }

  input {
    color: $clr-white-regular;
    font-size: $font-size-small-rem;
  }

  span.clear-icon svg,
  span.clear-icon:not(.active) svg,
  span.search-icon svg,
  span.search-icon:not(.active) svg {
    color: $clr-white-regular;
  }
}
