div.entities-portal--active-filter-list__container {
  display: flex;
  align-items: center;
  gap: $space-inline-xxxSmall-rem;

  user-select: none;

  span.title {
    font-size: $font-size-small-rem;
    font-family: $typography-emphasis;

    &::after {
      content: ":";
    }
  }
}

div.entities-portal--active-filter-preview__container {
  display: flex;
  align-items: center;

  position: relative;

  user-select: none;
  border-radius: 0.2rem;
  font-size: $font-size-xxSmall-rem;
  padding: 5px;
  box-shadow: 0 0 5px 1px $clr-white-darkest;

  span.icon-wrapper {
    cursor: pointer;
    color: $clr-black-lightest;

    &::after {
      position: absolute;
      top: 0;
      right: 1.7em;

      content: "";
      background-color: $clr-white-darkest;
      width: 1px;
      height: 100%;
    }
  }

  svg {
    display: block;

    margin-inline-end: $space-inline-xxxSmall-rem;
  }
}
