div.app-data--message__list-container {
  display: flex;
  flex-direction: column;
  gap: $space-block-xxSmall-rem;

  position: sticky;
  top: calc(#{$app-header-total-height} + #{$space-block-regular-rem});

  margin-inline: $space-inline-large-rem;

  div.list-title {
    border-inline-start: 5px solid $clr-blue-regular;
    font-size: $font-size-regular-rem;
    font-family: $typography-emphasis;
    font-weight: 500;
    padding-inline-start: $space-inline-small-rem;
    padding-block: $space-block-xxxSmall-rem;
    margin: 0;
    margin-block-end: $space-block-xxxSmall-rem;
    transition: $transition-regular;

    &:hover {
      background-color: $clr-white-darker;
    }
  }
}

div.app-data--message__preview-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1.5rem;

  padding-inline: $space-inline-xxxSmall-rem;
  padding-block: $space-block-xxxSmall-rem;
  box-shadow: 0 0 5px 1px $clr-white-darkest;

  div.preview-title {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: $font-size-small-rem;
    font-weight: 500;

    &.success {
      color: green;
    }

    &.danger {
      color: $clr-yellow-regular;
    }

    &.direct_message{
      color: $clr-blue-regular;
    }
  }

  div.preview-text {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: $font-size-xSmall-rem;
  }
}
