div.app-data--message__list-container {
  display: flex;
  flex-direction: column;
  gap: $space-block-xxSmall-rem;
}

div.app-data--message__preview-container {
  position: relative;
  padding-inline: $space-inline-xxxSmall-rem;
  padding-block: $space-block-xxxSmall-rem;
  animation: make-not-visibility 5s linear;
  animation-fill-mode: forwards;

  @keyframes make-not-visibility {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &:hover {
    animation-play-state: paused;

    &:before {
      animation-play-state: paused;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    background-color: $clr-blue-regular;
    width: 100%;
    height: 1px;
    animation: visibility-duration 5s linear;

    @keyframes visibility-duration {
      from {
        width: 0%;
      }
      to {
        width: 100%;
      }
    }
  }

  div.preview-title {
    font-size: $font-size-small-rem;
    font-weight: 500;
    margin-block-end: $space-block-xxxSmall-rem;
  }

  div.preview-text {
    font-size: $font-size-xxSmall-rem;

    @include viewport-wide-start-from(calc(#{$viewport-xLarge} + 200px)) {
      font-size: $font-size-xSmall-rem;
    }
  }
}
