a.dynamic-entity-preview--square-entity-preview__container {
  display: flex;
  flex-direction: column;
  gap: $space-block-xxxSmall-rem;

  border-radius: $border-radius-regular-rem;
  border: 1px solid $clr-white-darkest;
  color: $clr-black-regular;
  text-decoration: none;
  padding-block-end: $space-block-xxxSmall-rem;
  overflow: hidden;

  @include viewport-wide-start-from-exclusive($viewport-large) {
    &:hover {
      button.like-state,
      span.image-counter,
      ul.slick-dots,
      div.item-additional-info {
        transform: translateY(0) !important;
      }

      div.title {
        color: $clr-blue-regular;
      }

      button.slick-prev {
        left: $space-inline-xxxSmall-rem !important;
      }

      button.slick-next {
        right: $space-inline-xxxSmall-rem !important;
      }
    }
  }

  div.image-container {
    position: relative;
    height: 8rem;

    span.image-counter {
      position: absolute;
      top: $space-block-xxxSmall-rem;
      z-index: 5;
      left: $space-inline-xxxSmall-rem;

      display: flex;
      align-items: center;

      border: 1px solid $clr-blue-darkest;
      border-radius: $border-radius-regular-rem;
      background-color: $clr-white-darker;
      font-size: $font-size-xSmall-rem;
      padding: 3px;
      transition: $transition-regular;

      @include viewport-wide-start-from-exclusive($viewport-large) {
        transform: translateY(-150%);
      }
    }

    button.like-state {
      position: absolute;
      top: $space-block-xxxSmall-rem;
      right: $space-inline-xxxSmall-rem;
      z-index: 5;
      left: $space-inline-xxxSmall-rem;

      display: flex;
      align-items: center;

      cursor: pointer;
      border: 1px solid $clr-blue-darkest;
      border-radius: $border-radius-regular-rem;
      background-color: $clr-white-darker;
      font-size: $font-size-xSmall-rem;
      padding: 3px;
      transition: $transition-regular;

      @include viewport-wide-start-from-exclusive($viewport-large) {
        transform: translateY(-150%);
      }

      &.active {
        color: $clr-yellow-regular;
      }
    }
  }

  div.title {
    flex-grow: 1;
    padding: 0 $space-block-xxxSmall-rem;
    transition: $transition-regular;

    span.branch-icon {
      float: right;
      padding-inline-end: $space-block-xxxSmall-rem;
      height: 0.5rem;
      user-select: none;
    }

    span.title {
      font-family: $typography-emphasis;
      font-weight: 500;
    }
  }

  div.item-additional-info {
    display: flex;
    justify-content: space-between;

    font-size: $font-size-xxSmall-rem;
    color: $clr-grey-regular;
    padding: 0 $space-block-xxxSmall-rem;
    user-select: none;

    @include viewport-wide-start-from-exclusive($viewport-large) {
      transition: $transition-regular;
      transform: translateY(150%);
    }

    div.views-and-rate {
      display: flex;
      gap: $space-block-xSmall-rem;

      div.views,
      div.rate {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }

    span.icon {
      display: flex;
      align-items: center;
    }

    div.last-edit-date {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}
