section.entities-pages--entity-display__container {
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100%;

  h2.title {
    display: flex;
    align-items: center;
    gap: $space-block-xxxSmall-rem;

    position: sticky;
    top: $up-to-laptop-wide-header-total-height;
    z-index: 10;

    background-color: $clr-white-regular;
    font-size: $font-size-xLarge-rem;
    font-family: $typography-emphasis;
    font-weight: 500;
    margin: 0;
    margin-block-end: $space-block-xxSmall-rem;
    width: 100%;

    @include viewport-wide-start-from-exclusive($viewport-regular) {
      top: $laptop-wide-plus-app-header-total-height;
    }

    svg {
      display: block;
    }
  }
}
