div.common-cmp--circular-progress-bar {
  display: flex;
  margin-block: $space-block-xxxSmall-rem;
  margin-inline: $space-inline-xxxSmall-rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;

    circle {
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-dasharray: 360;
      stroke-dashoffset: 0;
      stroke: $clr-blue-regular;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      animation: 40s circular-progress ease-out;
    }
  }

  @keyframes circular-progress {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}
