main.entities-pages--entity-save__container {
  display: flex;
  flex-direction: column;
  gap: $space-block-regular-rem;

  div.save-stages-navigation {
    display: flex;
    align-items: center;
    gap: $space-inline-large-rem;

    div.stages {
      flex-grow: 1;

      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      button {
        &.disable {
          border: 1px solid $clr-black-regular;
          color: $clr-black-regular;
        }

        &.prev {
          grid-column: 1/2;
          justify-self: flex-start;
        }

        &.next {
          grid-column: 2/3;
          justify-self: flex-end;

          transition: $transition-regular;

          &:hover {
            background-color: $clr-blue-regular;
            color: $clr-white-regular;
          }
        }
      }
    }

    button {
      border-radius: $border-radius-regular-rem;
      background-color: transparent;
      font-size: $font-size-small-rem;
      padding: 5px;
      width: max-content;

      &:not(.disable) {
        cursor: pointer;
        border: 1px solid $clr-blue-regular;
        color: $clr-blue-regular;
      }
    }

    div.save {
      button {
        background-color: $clr-blue-regular;
        color: $clr-white-regular;
        padding-inline: $space-inline-xLarge-rem;
        transition: $transition-regular;

        &:hover {
          color: $clr-yellow-regular;
        }
      }
    }
  }
}
