section.entities-pages--entity-display__container {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: $space-block-xSmall-rem;

  height: 100%;

  div.primary-content,
  div.additional-content {
    display: flex;
    flex-direction: column;
    gap: $space-block-xSmall-rem;
  }
}
