div.app-header--page-related-data__table-of-content-container {
  position: sticky;
  top: calc(#{$app-header-total-height} + #{$space-block-regular-rem});

  margin-inline: $space-inline-large-rem;

  @include vieport-wide-start-from(calc(#{$viewport-xLarge} + 200px)) {
    margin-inline: $space-inline-xxLarge-rem;
  }

  @include vieport-wide-start-from(calc(#{$viewport-xLarge} + 600px)) {
    margin-inline: $space-inline-xxxxLarge-rem;
  }

  @include vieport-wide-start-from(calc(#{$viewport-xLarge} + 700px)) {
    margin-inline-start: 0;
  }

  div.content {
    font-size: $font-size-small-rem;

    span {
      display: block;
      width: 100%;
      transition: $transition-regular;

      &:hover {
        color: $clr-blue-regular;
      }
    }

    ol {
      list-style-type: none;
      counter-reset: item;
      padding: 0;
      margin: 0;

      & > li {
        display: table;
        counter-increment: item;
        font-weight: 500;
        margin-block-end: $space-block-xxSmall-rem;

        &::before {
          content: counters(item, ".") ". ";
          display: table-cell;
          padding-inline-end: 3px;
        }
      }
    }

    li ol > li {
      margin-block-start: $space-block-xxxSmall-rem;
      font-size: $font-size-xxSmall-rem;

      @include vieport-wide-start-from(calc(#{$viewport-xLarge} + 200px)) {
        font-size: $font-size-xSmall-rem;
      }

      &::before {
        content: counters(item, ".") " ";
      }
    }
  }
}
