div.entities-common-cmp--sort-drop-down__container {
  position: relative;

  &.colorize {
    background-color: $clr-white-darkest;
  }

  span.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  div.sort-drop-down-container {
    display: flex;
    flex-direction: column;
    gap: $space-block-xxxSmall-rem;

    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 10;

    background-color: $clr-white-regular;
    padding-inline: $space-inline-xSmall-rem;
    padding-block: $space-block-xSmall-rem;
    width: max-content;
    box-shadow: 0 0 5px 1px $clr-white-darkest;

    div.title {
      font-size: $font-size-small-rem;
      font-family: $typography-emphasis;

      position: relative;

      &::before {
        position: absolute;
        bottom: -$space-block-xxxSmall-rem;
        left: 0;

        content: "";
        border-block-start: 1px solid $clr-white-darker;
        width: 100%;
        height: 1px;
      }
    }

    div.options-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5px;

      font-size: $font-size-xSmall-rem;
      margin-block-start: $space-block-xxxSmall-rem;

      @include viewport-wide-start-from($viewport-small) {
        grid-template-columns: 1fr 1fr;
      }

      div.option {
        cursor: pointer;
        padding-inline: $space-inline-xSmall-rem;
        padding-block: $space-block-xxxSmall-rem;
        transition: $transition-regular;

        &:hover {
          color: $clr-blue-darker;
        }

        &.active {
          border-radius: $border-radius-regular-rem;
          background-color: $clr-white-darker;
        }
      }
    }
  }
}
