div.entities-cmp-game-poster-preview__container {
  overflow: hidden;
  border-radius: $border-radius-regular-rem;

  div.date {
    background-color: $clr-blue-regular;
    color: $clr-white-regular;
    font-size: $font-size-regular-rem;
    padding-block: $space-block-xxxSmall-rem;
    text-align: center;
    width: 100%;
  }

  div.image-container {
    position: relative;

    img.preview-image {
      display: block;

      aspect-ratio: 6/9;
      width: 170px;
    }

    div.icons-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;

      margin-inline: $space-inline-xxxSmall-em;
      margin-block: $space-block-xxxSmall-em;
    }
  }
}
