div.common-cmp--loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-block-xxxSmall-rem;
  align-items: center;

  height: 100%;

  .loader {
    position: relative;

    border: 5px solid $clr-blue-regular;
    border-block-end: 5px solid $clr-white-darkest;
    transform: translateZ(0);

    animation: load-animation 2s infinite linear;

    &,
    &::after {
      border-radius: 50vw;
      width: 3em;
      height: 3em;
    }

    @keyframes load-animation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  div.text {
    font-size: $font-size-small-rem;
    text-align: center;
  }
}
