div.common-cmp--loader {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-block-xxxSmall-rem;
  align-items: center;

  margin: 0 auto;

  svg {
    animation: pump 3s alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    width: 100%;
    height: 100%;

    &.maccabi-association-inside-letters {
      position: absolute;
      top: -12px;
      right: 0;
      z-index: 20;
    }

    @keyframes pump {
      from {
        transform: scale(0.75);
      }
      to {
        transform: scale(1);
      }
    }
  }

  div.text {
    font-size: $font-size-small-rem;
    text-align: center;
  }
}
