div.app-data--scrol-to-top__container {
  position: fixed;
  left: 0.5rem;
  bottom: calc(
    #{$up-to-laptop-option-bar-total-height} + var(
        --app-additional-content-app-footer-in-view
      ) + 0.5rem
  );

  cursor: pointer;
  border-radius: 50vw;
  background-color: $clr-blue-darker;
  color: $clr-white-regular;
  font-size: $font-size-xxLarge-rem;
  width: 2rem;
  height: 2rem;
  transition: $transition-regular;

  @include viewport-wide-start-from-exclusive($viewport-small) {
    bottom: calc(var(--app-additional-content-app-footer-in-view) + 0.5rem);
  }

  @include viewport-wide-start-from($viewport-xLarge) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: unset;
  }

  &:hover {
    color: $clr-yellow-regular;
  }

  &.hide {
    transform: translate(-50vmax);
  }

  svg {
    position: absolute;
    top: 50%;
    right: 50%;

    transform: translate(50%, -50%);
  }
}
