div.entity-portal--entitiy-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: minmax(220px, auto);
  justify-content: center;
  gap: $space-inline-xxSmall-rem;
  
  @include viewport-wide-start-from-exclusive($viewport-regular) {
    justify-content: unset;
    grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
    gap: $space-inline-small-rem;

    &:not(.short-list) {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }

  div.add-entity-container {
    aspect-ratio: 1/1;

    cursor: pointer;
    border-radius: $border-radius-regular-rem;
    border: 1px solid $clr-white-darkest;
    transition: $transition-regular;

    &:hover {
      border-color: $clr-blue-regular;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $space-block-xxxSmall-rem;

      color: $clr-white-darkest;
      text-decoration: none;
      width: 100%;
      height: 100%;
      transition: $transition-regular;

      &:hover {
        color: $clr-blue-regular;
      }

      span.icon-wrapper svg {
        display: block;
      }

      span.text {
        font-size: $font-size-small-rem;
        font-weight: 600;
      }
    }
  }
}
