footer.app-layout--app-footer {
  grid-row: 3/4;
  grid-column: 1/-1;

  @include app-grid-colums;

  background-color: $clr-blue-darkest;
  color: $clr-white-regular;

  div.content {
    grid-column: 2/3;

    margin-block: $space-block-small-rem;

    div.internal-links-container {
      display: flex;
      justify-content: center;
      gap: $space-inline-regular-rem;

      font-size: $font-size-xSmall-rem;
      margin-block-end: $space-block-small-rem;

      @include viewport-wide-start-from($viewport-xSmall) {
        font-size: $font-size-small-rem;
      }

      @include viewport-wide-start-from($viewport-small) {
        gap: $space-inline-large-rem;
      }

      a {
        color: $clr-white-regular;
        text-decoration: none;
        padding-inline: $space-inline-xSmall-rem;
        transition: $transition-regular;

        &:hover {
          color: $clr-yellow-regular;
        }
      }
    }

    div.social-networks-links-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $space-block-small-rem;

      @include viewport-wide-start-from($viewport-xSmall) {
        flex-direction: row;
        justify-content: space-evenly;

        position: relative;

        &::after {
          position: absolute;
          top: 50%;

          content: "";
          border-block-end: 1px solid $clr-white-regular;
          width: 100%;
        }
      }

      span.title {
        position: relative;
        z-index: 5;

        user-select: none;
        background-color: $clr-blue-darkest;
        font-size: $font-size-large-rem;
        font-family: $typography-emphasis;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding-inline: $space-inline-large-rem;
      }

      span.social-networks-icons-container {
        display: flex;
        align-items: center;
        gap: $space-inline-large-rem;

        position: relative;
        z-index: 5;

        background-color: $clr-blue-darkest;
        font-size: $font-size-xxLarge-rem;
        padding-inline: $space-inline-large-rem;

        a {
          color: $clr-white-regular;
          transition: $transition-regular;

          &:hover {
            color: $clr-yellow-regular;
          }

          svg {
            display: block;
          }
        }
      }
    }
  }
}
