div.app-layout--app-screen__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transition: $transition-regular;

  background-color: $clr-black-regular;

  animation: screen-enable 0.3s linear;
  animation-fill-mode: forwards;

  @keyframes screen-enable {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.95;
    }
  }
}
