div.app-layout--app-screen__container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $clr-black-regular;
  transition: $transition-regular;
  transform: translateY(-100vh);
  
  &.active {
    transform: translateY(0);
  }
}
