ul.app-header--category-link__container {
  display: flex;
  gap: 5%;
  align-items: center;

  @include clean-list-style;

  &:nth-of-type(1) {
    grid-row: 2/3;
    grid-column: 1/2;

    margin-inline-end: $space-inline-xxLarge-rem;
  }

  &:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 3/4;

    margin-inline-start: $space-inline-xxLarge-rem;
  }

  &.left-sided {
    div.drop-down-container {
      position: absolute;
      left: 0;

      min-width: max-content;
    }
  }

  @include viewport-wide-start-from($viewport-xLarge) {
    gap: 8%;
  }
}

li.app-header--category-link__preview-container {
  position: relative;

  flex-grow: 1;
  color: $clr-white-regular;
  font-size: $font-size-regular-rem;
  font-family: $typography-emphasis;
  font-weight: 500;
  line-height: $laptop-wide-plus-app-header-bar-height;
  text-align: center;
  transition: $transition-regular;

  @include viewport-wide-range($viewport-large, $viewport-xLarge) {
    letter-spacing: 0.2px;
  }

  @include viewport-wide-start-from($viewport-xLarge) {
    font-size: $font-size-xLarge-rem;
  }

  @include viewport-wide-start-from(calc(#{$viewport-xLarge} + 200px)) {
    font-size: $font-size-xxLarge-rem;
  }

  &:hover {
    color: $clr-yellow-regular;

    div.drop-down-container {
      padding-block: $space-block-xxSmall-rem;
      max-height: 100vmax;
      box-shadow: 0 0 5px 1px $clr-white-darkest;
    }
  }

  div.drop-down-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-block-xxSmall-rem;

    position: fixed;

    border-radius: $border-radius-regular-rem;
    background-color: $clr-white-regular;
    font-size: $font-size-regular-rem;
    font-family: $typography-regular;
    font-weight: 400;
    line-height: 1.15;
    margin-block-start: $space-block-xxSmall-rem;
    padding-inline: $space-inline-xSmall-rem;
    max-width: 70%;
    max-height: 0;
    overflow: hidden;

    transition: $transition-regular;

    &::before {
      content: "";
      position: absolute;
      top: -1rem;

      width: 100%;
      height: 1rem;
    }

    a.link-container {
      display: grid;
      grid-template-rows: max-content 1fr;
      grid-template-columns: 3rem 1fr;
      column-gap: $space-block-xxSmall-rem;

      border-radius: $border-radius-regular-rem;
      border: 1px solid $clr-white-darker;
      padding-inline: $space-inline-xxxSmall-rem;
      padding-block: $space-block-xxxSmall-rem;
      text-decoration: none;
      transition: $transition-regular;

      &.disabled {
        cursor: not-allowed;
        color: $clr-grey-regular;

        img {
          filter: grayscale(100%);
        }
      }

      &:not(.disabled) {
        color: $clr-black-regular;

        &:hover {
          background-color: $clr-white-darker;
        }
      }

      img {
        grid-row: 1/3;
        grid-column: 1/2;

        aspect-ratio: 1 / 1;

        font-size: $font-size-xxSmall-rem;
        word-break: break-word;
        width: 100%;
        height: 100%;
      }

      span.title {
        grid-column: 2/3;
        grid-row: 1/2;

        font-size: $font-size-small-rem;
        font-family: $typography-emphasis;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-align: right;
      }

      span.description {
        grid-column: 2/3;
        grid-row: 2/3;

        font-size: $font-size-xSmall-rem;
        text-align: right;
        max-width: 35ch;
      }
    }
  }
}
