div.entity-portal--filterby-builder__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $space-block-small-rem;

  @include viewport-wide-start-from-exclusive($viewport-small) {
    flex-direction: row;
  }
}
