div.entities-portal-cmp--image-carousel__container {
  position: relative;

  overflow: hidden;

  div.slick-slider {
    height: 100%;

    &:hover button.slick-prev,
    &:hover button.slick-next,
    &:hover ul.slick-dots {
      display: block;
      opacity: 1;
    }

    button.slick-prev,
    button.slick-next {
      display: none;
      opacity: 0;

      position: absolute;
      z-index: 2;

      border-radius: 50vw;
      background-color: $clr-blue-regular;
      transition: $transition-regular;

      &::before {
        transition: $transition-regular;
      }
    }

    button.slick-prev {
      left: $space-inline-xSmall-rem;
    }

    button.slick-next {
      right: $space-inline-xSmall-rem;
    }

    ul.slick-dots {
      display: none;

      bottom: $space-block-xSmall-rem;

      opacity: 0;

      li {
        margin: 0;
        margin-inline-start: $space-inline-xxSmall-rem;
        width: 0.5rem;
        height: 0.5rem;

        button:hover::before {
          color: $clr-blue-darkest;
          transition: $transition-regular;
        }

        &.slick-active button::before {
          color: $clr-blue-regular;
        }
      }
    }

    img {
      aspect-ratio: 7/5;
      display: block !important;
    }
  }
}
