// Black
$clr-black-regular: #222;
$clr-black-lighter: #383838; // 10% lighter than regular
$clr-black-lightest: #434343; // 15% lighter than regular

// Blue
$clr-blue-darkest: #114174; // 30% darker than regular
$clr-blue-darker: #154f8d; // 15% darker than regular
$clr-blue-regular: #195da6;
$clr-blue-lighter: #1f74d0; // 15% lighter than regular
$clr-blue-lightest: #3d8ce2; // 30% lighter than reular

// Yellow
$clr-yellow-regular: #ffdd00;

// Green
$clr-green-regular: #449621 ;

// Red
$clr-red-regular: #da4c4c ;

// White
$clr-white-darkest: #d4d4d4; // 10% darker than regular
$clr-white-darker: #ededed; // 5% darker than regular
$clr-white-regular: #fafafa;
