// Inline
$space-inline-xxxxxLarge-rem: 2.5rem;
$space-inline-xxxxLarge-rem: 2rem;
$space-inline-xxxLarge-rem: 1.7rem;
$space-inline-xxLarge-rem: 1.5rem;
$space-inline-xLarge-rem: 1.4rem;
$space-inline-large-rem: 1.2rem;
$space-inline-regular-rem: 1rem;
$space-inline-small-rem: 0.8rem;
$space-inline-xSmall-rem: 0.6rem;
$space-inline-xxSmall-rem: 0.5rem;
$space-inline-xxxSmall-rem: 0.4rem;

// Block
$space-block-regular-xxLarge: 1.5rem;
$space-block-regular-xLarge: 1.3rem;
$space-block-regular-large: 1.1rem;
$space-block-regular-rem: 1rem;
$space-block-small-rem: 0.9rem;
$space-block-xSmall-rem: 0.7rem;
$space-block-xxSmall-rem: 0.6rem;
$space-block-xxxSmall-rem: 0.4rem;
