section.entity-details--category-list-cmp__container {
  display: flex;
  flex-direction: column;
  gap: $space-block-xxSmall-rem;

  div.list-container {
    display: flex;
    gap: $space-inline-xSmall-rem;

    a.category-preview {
      color: $clr-black-regular;
      font-size: $font-size-small-rem;
      text-decoration: none;

      &:not(:last-of-type) {
        border-inline-end: 1px solid $clr-white-darkest;
        padding-inline-end: $space-inline-xSmall-rem;
      }
    }
  }
}
