div.entity-details--category-list-cmp__container {
  display: flex;
  gap: $space-inline-xSmall-rem;

  div.category-preview {
    font-size: $font-size-small-rem;

    &:not(:last-of-type) {
      border-inline-end: 1px solid $clr-white-darkest;
      padding-inline-end: $space-inline-xSmall-rem;
    }
  }
}
