section.entity-details--image-gallery-cmp__gallery-container {
  display: flex;
  flex-direction: column;
  gap: $space-block-xxSmall-rem;

  div.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: $space-inline-regular-rem;
  }
}

div.entity-details--image-gallery-cmp__preview-container {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: $border-radius-regular-rem;
  border: 1px solid $clr-white-darkest;
  overflow: hidden;
  user-select: none;

  &:hover div.name {
    bottom: 0;
  }

  div.spacer {
    flex-grow: 1;
  }

  img {
    flex-grow: 1;
    display: block;

    cursor: pointer;
    object-fit: cover;
    width: 100%;
    max-height: 200px;
  }

  div.name {
    position: absolute;
    bottom: -100%;
    overflow: hidden;

    background-color: $clr-blue-regular;
    color: $clr-white-regular;
    font-size: $font-size-xxSmall-rem;
    padding-inline: $space-inline-xxxSmall-rem;
    padding-block: $space-block-xxxSmall-rem;
    width: 100%;
    transition: $transition-regular;
  }
}
