div.entities-portal-cmp--image-carousel__container {
  position: relative;

  overflow: hidden;
  height: 100%;

  @include viewport-wide-start-from-exclusive($viewport-large) {
    &:hover {
      button.slick-prev {
        left: $space-inline-xxxSmall-rem !important;
      }

      button.slick-next {
        right: $space-inline-xxxSmall-rem !important;
      }

      ul.slick-dots {
        transform: translateY(0) !important;
      }
    }
  }

  div.slick-slider {
    height: 100%;

    div {
      height: 100%;
    }

    button.slick-prev,
    button.slick-next {
      z-index: 2;

      transition: $transition-regular;

      &::before {
        transition: $transition-regular;
      }
    }

    button.slick-prev {
      left: $space-inline-xxxSmall-rem;
    }

    button.slick-next {
      right: $space-inline-xxxSmall-rem;
    }

    @include viewport-wide-start-from-exclusive($viewport-large) {
      button.slick-prev {
        left: -100%;
      }

      button.slick-next {
        right: -100%;
      }
    }

    ul.slick-dots {
      bottom: $space-block-xxxSmall-rem;

      transition: $transition-regular;

      @include viewport-wide-start-from-exclusive($viewport-large) {
        transform: translateY(150%);
      }

      li {
        position: static;

        margin-inline-start: $space-inline-xSmall-rem;
        width: auto;
        height: auto;

        &.slick-active span {
          background-color: $clr-white-regular;
          width: 11px;
          height: 11px;
        }
      }
    }

    img {
      aspect-ratio: 7/5;
      display: block !important;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

span.entities-portal-cmp--image-carousel-dots__container {
  display: inline-block;

  border-radius: 50vw;
  border: 1px solid $clr-blue-regular;
  background-color: $clr-white-darkest;
  width: 8px;
  height: 8px;
  transition: $transition-regular;

  &:hover {
    background-color: $clr-white-darker;
  }
}
