div.entity-add-cmp--associate-related-data__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $space-inline-xxLarge-rem;
}

div.entity-add-cmp--related-profile-picker__container {
  @include squarePicker;
}

div.entity-add-cmp--related-profile-option-preview__container {
  display: flex;
  align-items: center;
  gap: $space-inline-xxxSmall-rem;

  user-select: none;

  span.image {
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;

      width: 2.5rem;
      height: 2.5rem;
    }
  }

  div.name-and-branch {
    display: flex;
    flex-direction: column;
    gap: $space-inline-xxxSmall-rem;

    span.name {
      font-family: $typography-emphasis;
    }

    span.branch {
      color: $clr-white-darkest;
      font-size: $font-size-xxSmall-rem;
    }
  }
}

div.entity-add-cmp--related-branch-picker__container {
  @include squarePicker;
}

div.entity-add-cmp--related-branch-option-preview__container {
  display: flex;
  align-items: center;
  gap: $space-inline-xxxSmall-rem;
  padding: 2px;

  img {
    width: 1rem;
    height: 1rem;
  }
}
