div.entity-add-cmp--laptop-wide-plus-stages-indicator__container {
  $pipe-width: 5rem;

  display: flex;
  justify-content: center;
  gap: $pipe-width;

  user-select: none;

  div.stage-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50vw;
    border: 1px solid $clr-white-darkest;
    color: $clr-white-darkest;
    font-size: $font-size-xxSmall-rem;
    font-weight: 600;
    text-align: center;
    line-height: $font-size-small-rem;
    padding: 5px;
    width: 4rem;
    height: 4rem;
    transition: $transition-regular;

    &:not(:last-of-type) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: calc((#{$pipe-width} + 2px) * -1);
        z-index: 1;

        background-color: $clr-white-darker;
        width: calc(#{$pipe-width} + 3px);
        height: 5px;
        pointer-events: none;
      }
    }

    &.active {
      color: $clr-yellow-regular;
    }

    &.fully-active:not(.active),
    &.latest-achived:not(.active) {
      cursor: pointer !important;
    }

    &.fully-active,
    &.latest-achived {
      background-color: $clr-blue-regular;
    }

    &.fully-active {
      &::after {
        background: $clr-blue-regular;
      }
    }

    &.latest-achived {
      &::after {
        background: linear-gradient(
          to left,
          $clr-blue-regular,
          $clr-white-darkest
        );
      }
    }
  }
}

div.entity-add-cmp--up-to-laptop-wide-stage-indicator__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;

  button {
    border-radius: $border-radius-regular-rem;
    border: 1px solid $clr-blue-regular;
    background-color: transparent;
    font-size: $font-size-small-rem;
    padding: 5px;
    transition: $transition-regular;

    &.disable {
      cursor: pointer;
      color: $clr-black-lightest;
      border-color: $clr-black-lightest;
    }

    &:not(.disable) {
      color: $clr-blue-regular;

      &:hover {
        background-color: $clr-blue-regular;
        color: $clr-white-regular;
      }
    }
  }

  div.stage-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-block-xxxSmall-rem;

    span.stage-counter {
      font-size: $font-size-xSmall-rem;
    }

    span.curr-stage-name {
      font-size: $font-size-small-rem;
      font-family: $typography-emphasis;
    }
  }
}
