div.common-cmp--search-input__container {
  position: relative;

  input.search-input {
    outline: 0;
    border: 0;
    border-block-end: 1px solid $clr-black-lightest;
    background-color: transparent;
    font-size: $font-size-small-rem;
    padding-inline-start: $space-inline-xxxSmall-rem;
    padding-inline-end: 2rem;
    width: 10rem;
    transition: $transition-regular;

    &:focus-within {
      width: 15rem;
    }
  }

  span.clear-icon,
  span.search-icon {
    opacity: 0;
    transition: $transition-regular;

    &.active {
      opacity: 1;
    }
  }

  span.clear-icon {
    cursor: pointer;
  }

  svg {
    position: absolute;
    left: $space-inline-xxxSmall-rem;
    z-index: 1;

    color: $clr-black-lightest;
  }
}
