div.entities-portal--number-picker__container {
  @include squarePicker;
  padding-inline: $space-inline-regular-rem;
  width: 100%;

  div.content-container {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;

    @include viewport-wide-start-from-exclusive($viewport-regular) {
      flex-direction: column;
    }

    div.additional-content-container {
      display: flex;
      justify-content: space-between;

      span.indicator {
        font-size: $font-size-xSmall-rem;
      }

      div.type-toggler {
        flex-basis: 30%;

        font-size: $font-size-xSmall-rem;

        div.toggler {
          display: flex;
          justify-content: space-between;
          align-items: center;

          cursor: pointer;
          font-size: $font-size-xSmall-rem;
        }

        div.options-container {
          display: flex;
          flex-wrap: wrap;
          row-gap: $space-inline-xxxSmall-rem;
          column-gap: 6px;

          div.type-option {
            min-width: calc(50% - 3px);

            &:hover {
              cursor: pointer;
              color: $clr-blue-darker;
            }
          }
        }
      }
    }
  }
}

div.entities-portal--number-picker__thumb-container {
  span.indicator {
    position: absolute;
    top: -5px;

    border-radius: 50vw;
    background-color: $clr-blue-regular;
    width: 10px;
    height: 10px;
  }
}

div.entities-portal--number-picker__track-container {
  display: flex;

  padding-block: $space-block-xxSmall-rem;

  div.track {
    width: 100%;
    height: 2px;
  }
}
