div.entities-portal--active-filter-list__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $space-inline-xxxSmall-rem;

  user-select: none;

  span.title {
    font-size: $font-size-small-rem;
    font-family: $typography-emphasis;

    &::after {
      content: ":";
    }
  }

  div.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: $space-inline-xxSmall-rem;
  }
}

div.entities-portal--active-filter-preview__container {
  display: flex;
  align-items: center;
  gap: $space-inline-xxxSmall-rem;

  position: relative;

  user-select: none;
  border-radius: 0.2rem;
  border: 1px solid $clr-white-darkest;
  font-size: $font-size-xxSmall-rem;
  padding: 5px;

  span.icon-wrapper {
    cursor: pointer;
    color: $clr-black-lightest;

    &::after {
      position: absolute;
      top: 0;
      right: 1.7em;

      content: "";
      background-color: $clr-white-darker;
      width: 1px;
      height: 100%;
    }

    svg {
      display: block;
    }
  }
}
