div.common-cmp--main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-start-end-radius: $border-radius-regular-rem;
  border-end-end-radius: $border-radius-regular-rem;
  border-inline-start: 5px solid $clr-blue-regular;
  transition: $transition-regular;

  &.sticky {
    @include page-top-stick;
    background-color: $clr-white-regular;
  }

  &.background-colorize {
    &:hover {
      background-color: $clr-white-darker;
    }
  }

  h2 {
    font-size: $font-size-large-rem;
    font-family: $typography-emphasis;
    font-weight: 500;
    padding-inline-start: $space-inline-small-rem;
    padding-block: $space-block-xxxSmall-rem;
    margin: 0;
  }
}
