h2.common-cmp--main-title {
  display: flex;
  flex-direction: column;
  gap: $space-block-regular-rem;

  background-color: $clr-white-regular;
  margin: 0;
  margin-block-end: $space-block-xxxSmall-rem;

  @include viewport-wide-start-from($viewport-regular) {
    display: grid;
    grid-template-columns: 1fr max-content;
  }

  &.sticky {
    position: sticky;
    top: $up-to-laptop-wide-header-total-height;
    z-index: 10;
  }

  div.title-container {
    color: $clr-blue-darker;

    span.icon {
      float: right;

      margin-inline-end: $space-inline-xxxSmall-rem;
    }

    span.text {
      font-size: $font-size-xLarge-rem;
      font-family: $typography-emphasis;
      font-weight: 500;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}
