ul.app-header--side-menu__category-links-container {
  @include clean-list-style;
}

li.app-header--side-menu__drop-down {
  border-block-end: 1px solid $clr-white-regular;
  color: $clr-white-regular;
  font-family: $typography-emphasis;
  letter-spacing: 1px;
  transition: $transition-regular;

  &:hover {
    color: $clr-yellow-regular;
  }

  div.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline-start: $space-block-xxSmall-rem;
    padding-block: $space-block-xxSmall-rem;

    &.open {
      span.icon-container {
        transform: rotateX(0);
      }
    }

    span.icon-container {
      font-size: $font-size-xxSmall-rem;
      padding-inline-end: $space-block-xxSmall-rem;
      transform: rotateX(180deg);
      transition: $transition-regular;
    }
  }

  ul.drop-down-container {
    display: none;

    @include clean-list-style;
    background-color: $clr-white-regular;

    &.open {
      display: block;
    }

    li {
      font-size: $font-size-small-rem;
      padding-inline: $space-block-xxSmall-rem;
      padding-block: $space-block-xxSmall-rem;
      transition: $transition-regular;

      &:not(:last-of-type) {
        border-block-end: 1px solid $clr-white-darker;
      }

      &:hover {
        background-color: $clr-white-darker;
      }

      a {
        position: relative;
        display: block;

        color: $clr-black-regular;
        text-decoration: none;
        width: 100%;

        &::before,
        &::after {
          content: "";
          position: absolute;

          width: 100%;
          height: $space-block-xxSmall-rem;
        }

        &::before {
          top: -$space-block-xxSmall-rem;
        }

        &::after {
          bottom: -$space-block-xxSmall-rem;
        }
      }
    }
  }
}
