div.app-header--side-menu__container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: $up-to-laptop-wide-header-total-height;
  right: -300px;
  overflow: auto;

  background-color: $clr-blue-regular;
  width: 80%;
  max-width: 300px;
  height: calc(100vh - #{$up-to-laptop-wide-header-total-height} - #{$up-to-laptop-wide-header-total-height} + 8px);
  transition: $transition-regular;

  &.open {
    right: 0;
  }

  div.branch-chip-list-container{
    margin-block-start: $space-block-xxxxLarge-rem;
  }
}
