div.app-header--side-menu__container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: $up-to-laptop-wide-header-total-height;
  right: -300px;

  background-color: $clr-blue-regular;
  width: 80%;
  max-width: 250px;
  height: calc(100vh - #{$up-to-laptop-wide-header-total-height});
  transition: $transition-regular;

  &.open {
    right: 0;
  }
}
