@mixin squarePicker {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  position: relative;

  border-radius: $border-radius-regular-rem;
  border: 1px solid $clr-white-darkest;
  padding-inline: $space-inline-xxxSmall-rem;
  padding-block-start: $space-block-xSmall-rem;
  padding-block-end: $space-block-xxxSmall-rem;
  width: max-content;

  span.title {
    position: absolute;
    top: -$space-block-xSmall-rem;

    user-select: none;
    background-color: $clr-white-regular;
    font-size: $font-size-xSmall-rem;
    font-family: $typography-emphasis;
    line-height: 1.5;
    margin-inline-start: $space-inline-xSmall-rem;

    &::after,
    &::before {
      position: absolute;

      content: "";
      background-color: $clr-white-regular;
      width: $space-inline-xxxSmall-rem;
      height: 100%;
    }

    &::before {
      right: -$space-inline-xxxSmall-rem;
    }
  }

  div.content-container input{
    width: 100%;
  }

  .react-select-cmp-container {
    width: 100%;
  }
}

@mixin reactSelectAsyncDefaultValue {
  display: flex;
  align-items: center;
  gap: $space-inline-xxxSmall-rem;

  user-select: none;

  span.image {
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;

      width: 2.5rem;
      height: 2.5rem;
    }
  }

  div.name-and-branch {
    display: flex;
    flex-direction: column;
    gap: $space-inline-xxxSmall-rem;

    span.name {
      font-family: $typography-emphasis;
    }

    span.branch {
      color: $clr-white-darkest;
      font-size: $font-size-xxSmall-rem;
    }
  }
}
